{% extends "portal/base.html" %}

{% block title %}{{ survey.name }}{% endblock %}

{% block content %}

    <form method="post" action="{% url "survey_start" slug=survey.slug %}">

        {% csrf_token %}

        {% for question in questions %}

            <div id="question_{{ question.serial_number }}" class="container jumbotron" style="display: {% if forloop.counter != 1 %}none{% endif %}">
                <h4>Q{{ forloop.counter }} - {{ question.question_text }}</h4>

                    {% for choice in question.choice_set.all %}
                        <label for="{{ choice.id }}">{{ choice.choice_text }}</label>
                        <input id="{{ choice.id }}" type="radio" name=name="question-{{ question.serial_number }}" value="{{ choice.id }}">
                    {% endfor %}
            <br>
            </div>

        {% endfor %}
            <input onclick="change_div('question_5')" type="button" id="next-btn" value="Next">


        <input value="Submit" class="btn btn-success"/>

    </form>

{% endblock %}

{% block extrajs %}

    <script>

        var current_page = 'question_1';

        function change_div(question_id) {
            var new_div = document.getElementById(question_id);
            var current_div = document.getElementById(current_page);
            current_div.style.display = "none";
            new_div.style.display = "block";
            current_page = question_id;


        }
    </script>

{% endblock %}